
@{
	ViewData["Title"] = "Animals";
}

<div class="row">
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/cats.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>CATS</b></h5>
			<a class="stretched-link" asp-area="Animals" asp-controller="Cats" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/dogs.png" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>DOGS</b></h5>
			<a class="stretched-link" asp-area="Animals" asp-controller="Dogs" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/horses.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>HORSES</b></h5>
			<a class="stretched-link" asp-area="Animals" asp-controller="Horses" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/livestock.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>LIVESTOCK</b></h5>
			<a class="stretched-link" asp-area="Animals" asp-controller="Livestock" asp-action="Create"></a>
		</div>
	</div>
</div>