
@{
	ViewData["Title"] = "Freights";
}

<div class="row">
	<a asp-area="Freights" asp-controller="LessThanContainerLoads" asp-action="Create" class="card-link">
		<div class="card" style="max-width: 20rem;">
			<img src="~/images/vehicles-category.png" class="card-img-top">
			<div class="card-body">
				<h5 class="card-description"><b>LESS THAN CONTAINER LOAD</b></h5>
			</div>
		</div>
	</a>
</div>