@model MoveFormModel

@{
	ViewData["Title"] = "Create Move";
}

<h1>Create new Move delivery</h1>

<div class="row">
	<div class="col-md-4">
		<form enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label asp-for="Type"></label>
				<select asp-for="Type" asp-items="Html.GetEnumSelectList<MoveType>()" class="form-control"></select>
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			@await Html.PartialAsync("_DeliveryInsurancePartial", Model)
			<div class="form-group">
				<label asp-for="Title"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PickupLocation"></label>
				<input asp-for="PickupLocation" class="form-control" />
				<span asp-validation-for="PickupLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryLocation"></label>
				<input asp-for="DeliveryLocation" class="form-control" />
				<span asp-validation-for="DeliveryLocation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CollectionDate"></label>
				<input type="date" name="CollectionDate" required />
				<span asp-validation-for="CollectionDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeliveryDate"></label>
				<input type="date" name="DeliveryDate" required />
				<span asp-validation-for="DeliveryDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Photos"></label>
				<div class="custom-file">
					<input multiple asp-for="Photos" class="form-control custom-file-input" />
					<label class="custom-file-label">Choose File...</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="AdditionalDetails"></label>
				<textarea asp-for="AdditionalDetails" class="form-control"></textarea>
				<span asp-validation-for="AdditionalDetails" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
	@await Html.PartialAsync("_FileInputValidationScriptsPartial")
}