@model MoveDetailsViewModel

@{
	ViewData["Title"] = "Move Details";
}

<div>
	@await Html.PartialAsync("_RouteSummaryPartial", Model.RouteSummary)
	<div class="card">
		<div class="card-header">
			Move Details
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row">
					<div class="col">
						<b>Type</b>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col">
						@Model.Type
					</div>
				</div>
			</li>
			@if (Model.Photos.Any())
			{
				<li class="list-group-item">
					<div class="row">
						<div class="col">
							<b>Photos</b>
						</div>
						@foreach (var photo in Model.Photos)
						{
							<div class="col">
								<img src="~/images/@photo.Path" class="card-img">
							</div>
						}
					</div>
				</li>
			}
		</ul>
	</div>
	@if (Model.AdditionalDetails != null)
	{
		@await Html.PartialAsync("_AdditionalDetailsPartial", Model.AdditionalDetails)
	}
</div>