
@{
	ViewData["Title"] = "Vehicles";
}

<div class="row">
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/cars.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>CARS</b></h5>
			<a class="stretched-link" asp-area="Vehicles" asp-controller="Cars" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/motorcycle.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>MOTORCYCLES</b></h5>
			<a class="stretched-link" asp-area="Vehicles" asp-controller="Motorcycles" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/atvs.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>ATVS</b></h5>
			<a class="stretched-link" asp-area="Vehicles" asp-controller="ATVS" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/rvs.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>RECREATIONAL VEHICLES</b></h5>
			<a class="stretched-link" asp-area="Vehicles" asp-controller="RecreationalVehicles" asp-action="Create"></a>
		</div>
	</div>
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/hvs.jpg" class="card-img-top">
		<div class="card-body">
			<h5 class="card-description"><b>HEAVY VEHICLES</b></h5>
			<a class="stretched-link" asp-area="Vehicles" asp-controller="HeavyVehicles" asp-action="Create"></a>
		</div>
	</div>
</div>

<style>
	.card {
		margin-right: 20px;
		margin-bottom: 20px;
	}

		.card:hover {
			border-color: deepskyblue;
		}

	.card-link {
		text-decoration: none;
	}

	.card-description {
		text-align: center;
	}
</style>

