@model RouteSummaryViewModel

<div class="card">
	<div class="card-header">
		Route Summary
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<div class="row">
				<div class="col">
					<b>Pickup Location</b>
				</div>
				<div class="col">
					<b>Delivery Location</b>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col">
					@Model.PickupLocation
				</div>
				<div class="col">
					@Model.DeliveryLocation
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col">
					<b>Collection Date</b>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col">
					@Model.CollectionDate.ToShortDateString()
				</div>
			</div>
		</li>
	</ul>
</div>