<div class="row">
	<div class="card" style="max-width: 20rem;">
		<img src="~/images/vehicles-category.png" class="card-img-top card-image">
		<div class="card-body">
			<h5 class="card-text"><b>VEHICLES</b></h5>
			<p class="card-text">Cars, Motorcycles, Recreational Vehicles</p>
			<a class="stretched-link" asp-controller="Vehicles" asp-action="Index"></a>
		</div>
	</div>

	<div class="card" style="max-width: 20rem;">
		<img src="~/images/boats-category.png" class="card-img-top card-image">
		<div class="card-body">
			<h5 class="card-text"><b>BOATS</b></h5>
			<p class="card-text">Powerboats, Sailboats, Hovercrafts</p>
			<a class="stretched-link" asp-controller="Boats" asp-action="Create"></a>
		</div>
	</div>

	<div class="card" style="max-width: 20rem;">
		<img src="~/images/household-items.jpg" class="card-img-top card-image">
		<div class="card-body">
			<h5 class="card-text"><b>HOUSEHOLD ITEMS AND MOVES</b></h5>
			<p class="card-text">Arts, Pianos, Household Items, Moves, Offices</p>
			<a class="stretched-link" asp-controller="HouseholdItemsAndMoves" asp-action="Index"></a>
		</div>
	</div>

	<div class="card" style="max-width: 20rem;">
		<img src="~/images/freight_desktop1x.98c89f3308.png" class="card-img-top card-image">
		<div class="card-body">
			<h5 class="card-text"><b>FREIGHT</b></h5>
			<p class="card-text">Less Than Container Load</p>
			<a class="stretched-link" asp-controller="Freights" asp-action="Index"></a>
		</div>
	</div>

	<div class="card" style="max-width: 20rem;">
		<img src="~/images/animals-category.png" class="card-img-top card-image">
		<div class="card-body">
			<h5 class="card-text"><b>ANIMALS</b></h5>
			<p class="card-text">Dogs, Cats, Horses, Livestock</p>
			<a class="stretched-link" asp-controller="Animals" asp-action="Index"></a>
		</div>
	</div>
</div>