@model ArtListingViewModel
@{
	ViewData["Title"] = "Arts";
}

<h1>All Arts Deliveries</h1>

<div class="row">
	@foreach (var art in Model.Arts)
	{
		@await Component.InvokeAsync(
	   "DeliveryListItem",
	   new
	   {
		   id = art.Id,
		   title = art.Title,
		   pickupLocation = art.PickupLocation,
		   deliveryLocation = art.DeliveryLocation,
		   collectionDate = art.CollectionDate,
		   photos = art.Photos,
		   controller = "HouseholdItemsAndMoves",
		   action = "Arts",
		   removingAction = "RemoveArt",
	   })
	}
</div>

@if (Model.TotalArts > Model.Arts.Count())
{
	<ul class="pagination justify-content-center">
		<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Previous"
			   asp-route-page="@Model.PreviousPage">
				<span id="previous-page" aria-hidden="true">
					Previous page
				</span>
			</a>
		</li>
		<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Next"
			   asp-route-page="@Model.NextPage">
				<span id="next-page" aria-hidden="true">
					Next page
				</span>
			</a>
		</li>
	</ul>
}