@model CarListingViewModel

@{
	ViewData["Title"] = "Cars Deliveries";
}

<h1>All Cars Deliveries</h1>

<div class="row">
	@foreach (var car in Model.Cars)
	{
		@await Component.InvokeAsync(
	   "DeliveryListItem",
	   new
	   {
		   id = car.Id,
		   title = car.Title,
		   pickupLocation = car.PickupLocation,
		   deliveryLocation = car.DeliveryLocation,
		   collectionDate = car.CollectionDateEarliest,
		   photos = car.Photos,
		   controller = "Vehicles",
		   action = "Cars",
		   removingAction = "RemoveCar",
	   })
	}
</div>

@if (Model.TotalCars > Model.Cars.Count())
{
	<ul class="pagination justify-content-center">
		<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Previous"
			   asp-route-page="@Model.PreviousPage">
				<span id="previous-page" aria-hidden="true">
					Previous page
				</span>
			</a>
		</li>
		<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Next"
			   asp-route-page="@Model.NextPage">
				<span id="next-page" aria-hidden="true">
					Next page
				</span>
			</a>
		</li>
	</ul>
}