@model CatListingViewModel
@{
	ViewData["Title"] = "Cats Deliveries";
}

<h1>All Cats Deliveries</h1>

<div class="row">
	@foreach (var cat in Model.Cats)
	{
		@await Component.InvokeAsync(
	   "DeliveryListItem",
	   new
	   {
		   id = cat.Id,
		   title = cat.Title,
		   pickupLocation = cat.PickupLocation,
		   deliveryLocation = cat.DeliveryLocation,
		   collectionDate = cat.CollectionDateEarliest,
		   photos = cat.Photos,
		   controller = "Animals",
		   action = "Cats",
		   removingAction = "RemoveCat",
	   })
	}
</div>

@if (Model.TotalCats > Model.Cats.Count())
{
	<ul class="pagination justify-content-center">
		<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Previous"
			   asp-route-page="@Model.PreviousPage">
				<span id="previous-page" aria-hidden="true">
					Previous page
				</span>
			</a>
		</li>
		<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Next"
			   asp-route-page="@Model.NextPage">
				<span id="next-page" aria-hidden="true">
					Next page
				</span>
			</a>
		</li>
	</ul>
}