@model MovesListingViewModel

@{
	ViewData["Title"] = "Moves";
}

<h1>All Moves Deliveries</h1>

<div class="row">
	@foreach (var move in Model.Moves)
	{
		@await Component.InvokeAsync(
	   "DeliveryListItem",
	   new
	   {
		   id = move.Id,
		   title = move.Title,
		   pickupLocation = move.PickupLocation,
		   deliveryLocation = move.DeliveryLocation,
		   collectionDate = move.CollectionDateEarliest,
		   photos = move.Photos,
		   controller = "HouseholdItemsAndMoves",
		   action = "Moves",
	   })
	}
</div>

@if (Model.TotalMoves > Model.Moves.Count())
{
	<ul class="pagination justify-content-center">
		<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Previous"
			   asp-route-page="@Model.PreviousPage">
				<span id="previous-page" aria-hidden="true">
					Previous page
				</span>
			</a>
		</li>
		<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
			<a class="page-link"
			   aria-label="Next"
			   asp-route-page="@Model.NextPage">
				<span id="next-page" aria-hidden="true">
					Next page
				</span>
			</a>
		</li>
	</ul>
}